//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     title Audio Books
//-     link(rel='stylesheet', href='/styles/index.css')
//-     script(src="https://code.jquery.com/jquery-3.6.0.min.js")
//-   body
//-     header.top-bar
//-       h1.logo Audio books
//-       ul.menu
//-         li
//-           a#show-home(href="#") Home
//-         li
//-           a#show-biography(href="#") Biography
//-         li
//-           a#show-horror(href="#") Horror 
//-         li
//-           a#show-fantasy(href="#") Fantasy
//-       div.search
//-         input(type="text" placeholder="Search")
//-         a.login(href="/logout") Logout
//-     script.
//-       $(document).ready(function() {
//-         $('.tray-header, .tray-container').hide();
//-         $('.tray-header, .tray-container').show();

//-         $('#show-home').click(function() {
//-           $('.tray-header, .tray-container').show();
//-         });

//-         $('#show-biography').click(function() {
//-           $('.tray-header, .tray-container').hide();
//-           $('#biography-header, #biography-container').show();
//-         });

//-         $('#show-horror').click(function() {
//-           $('.tray-header, .tray-container').hide();
//-           $('#horror-header, #horror-container').show();
//-         });

//-         $('#show-fantasy').click(function() {
//-           $('.tray-header, .tray-container').hide();
//-           $('#fantasy-header, #fantasy-container').show();
//-         });
//-       });

//-     div.tray-header(id='biography-header')
//-       h4 Biography
//-mahesh

//-     div.tray-container(id='biography-container')
//-       each book in biographyBooks
//-         div.tray
//-           div.label #{book.title}
//-           img(src=book.cover, alt='Cover image')

//-     div.tray-header(id='horror-header')
//-       h4 Horror

//-     div.tray-container(id='horror-container')
//-       each book in horrorBooks
//-         div.tray
//-           div.label #{book.title}
//-           img(src=book.cover, alt='Cover image')

//-     div.tray-header(id='fantasy-header')
//-       h4 Fantasy

//-     div.tray-container(id='fantasy-container')
//-       each book in fantasyBooks
//-         div.tray
//-           div.label #{book.title}
//-           img(src=book.cover, alt='Cover image')

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Audio Books
    link(rel='stylesheet', href='/styles/index.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    header.top-bar
      h1.logo Audio books
      ul.menu
        li
          a#show-home(href="#") Home
        li
          a#show-biography(href="#") Biography
        li
          a#show-horror(href="#") Horror 
        li
          a#show-fantasy(href="#") Fantasy
      div.search
        input(type="text" placeholder="Search")
        a.login(href="/logout") Logout
    script.
      $(document).ready(function() {
        $('.tray-header, .tray-container').hide();
        $('.tray-header, .tray-container').show();

        $('#show-home').click(function() {
          $('.tray-header, .tray-container').show();
        });

        $('#show-biography').click(function() {
          $('.tray-header, .tray-container').hide();
          $('#biography-header, #biography-container').show();
        });

        $('#show-horror').click(function() {
          $('.tray-header, .tray-container').hide();
          $('#horror-header, #horror-container').show();
        });

        $('#show-fantasy').click(function() {
          $('.tray-header, .tray-container').hide();
          $('#fantasy-header, #fantasy-container').show();
        });

        // Add this code to handle book card click event
        $(".book-card").on("click", function () {
          const bookId = $(this).data("book-id");
          window.location.href = `/books/${bookId}`;
        });
      });

    div.tray-header(id='biography-header')
      h4 Biography

    div.tray-container(id='biography-container')
      each book in biographyBooks
        div.tray.book-card(data-book-id=book.id) 
          div.label #{book.title}
          img(src=book.cover, alt='Cover image')

    div.tray-header(id='horror-header')
      h4 Horror

    div.tray-container(id='horror-container')
      each book in horrorBooks
        div.tray.book-card(data-book-id=book.id)
          div.label #{book.title}
          img(src=book.cover, alt='Cover image')

    div.tray-header(id='fantasy-header')
      h4 Fantasy

    div.tray-container(id='fantasy-container')
      each book in fantasyBooks
        div.tray.book-card(data-book-id=book.id) 
          div.label #{book.title}
          img(src=book.cover, alt='Cover image')
